<template>
 <div class="row">
     <div class="card my-4" v-for="post in posts.data" :key="post.id">
         <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body.slice(0,100) + "....."}}</p>
            <a :href="'/post/' + post.pid" class="btn btn-primary">Read More &rarr;</a>
        </div>

        <div class="card-footer text-muted">
            Posted on{{post.written_at}} by 
            <a :href="'/?user_id='+ post.author.id">{{post.author.name}}</a>
            <span><strong>Cate:</strong><a :href="'/?cat_id='+ post.category.id">{{post.category.name}}</a></span>
        </div>          
    </div>
</div>
</template>

<script>
    export default {

        data(){

         return {
            posts:{}
        }
    },

    mounted(){
        console.log('Component mounted Posts.');
        this.getPosts();
    },

    methods: {
        getPosts(){
            axios.get('/api/posts').then((response)=>{
                    console.log(response.data.data);
                    this.posts = response.data;
                })
        }
    }
}
</script>
